@charset "utf-8";
/* CSS Document */

.cuerpo{
	width:900px;
	background: #33CC99;
	margin:0 auto 0 auto;
}
.cabecera{
	width:100%;
	height:100px;
	background: #FFFF00;
}
.botonera{
	width:100%;
	height:50px;
	background: #CCCCCC;
}
.contenido{
	width:100%;
	height:500px;
	background: #7EA8DA;
}
